body {
    background-color: burlywood;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    color: #cc5303;
}

h1 { 
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(148, 1, 216);
    text-shadow: 2px, 2px, 3px, rgba (0, 0, 0, 0.5);
}

form input [type="text"] {
    width: 70%;
    margin: 2% auto;
    border: 2px solid #808080;
    border-radius: 7px;
}

